<mat-tab-group>
  <mat-tab label="File playback">
    <div class="playback-speed-container">
      <mat-button-toggle-group #playbackSpeed name="playbackSpeed" value="fast"
          (change)="setPlaybackSpeed($event)">
        <mat-button-toggle value="fast">Fast</mat-button-toggle>
        <mat-button-toggle value="realtime">Real time</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <div
      class="dropzone"
      [class.dragging]="isDragging"
      (click)="fileInput.click()"
      (drop)="onDrop($event)"
      (dragover)="onDragOver($event)">
        Drop file here or<br>click for selection dialog.
        <input #fileInput type="file" (change)="onFileSelect($event);">
    </div>
  </mat-tab>
  <mat-tab label="USB dongle">
    <div class="usb-connect-pane">
      <button mat-stroked-button [disabled]="dongle != null" (click)="connectSi470x()">Connect Si 470x</button>
    </div>

    <div class="tuner-pane">
      <button mat-icon-button (click)="seekDown()">
        <mat-icon>keyboard_double_arrow_left</mat-icon>
      </button>
      <button mat-icon-button (click)="tuneDown()">
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button>
      <span class="frequency">{{ frequency > 0 ? (frequency / 1000 | number:'1.1-1':'en-US') : "" }}</span>
      <button mat-icon-button (click)="tuneUp()">
        <mat-icon>keyboard_arrow_right</mat-icon>
      </button>
      <button mat-icon-button (click)="seekUp()">
        <mat-icon>keyboard_double_arrow_right</mat-icon>
      </button>
    </div>

    <div class="logging-pane">
      <button mat-stroked-button (click)="selectLogDir()">Select log directory</button>
    </div>
  </mat-tab>
</mat-tab-group>

<div class="processingChain">
  <div *ngIf="synchronizer != null">
    <div>Bit stream</div>
    <div>{{ synchronizer.synced ? "SYNCED" : "NOT SYNCED" }}</div>
  </div>
  <div>
    <div>Block error rate</div>
    <canvas #blerGraph width="200" height="40">
      Block error rate graph.
    </canvas>
  </div>
</div>
