:host {
  background-color: #FFF;
  margin: 10px;
  margin-right: 5px;
  padding: 16px;
  border-radius: 10px;
  min-width: 350px;
  width: 25%;
  flex: 0 0 auto;
}

.playback-speed-container {
  padding: 10px 10px;
  display: flex;
  overflow: hidden;
}

.playback-speed-expander {
  flex: 1;
}

.dropzone {
  background-color: #e8ecf9;
  padding: 2em 1em;
  margin: 10px;
  text-align: center;

  // Vertical center text.
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  cursor: default;
  border-radius: 20px;
  border: 2px dashed #555;
  height: 50px;
}

.dragging {
  background-color: #c5d0f3;
}

.disabled {
  background-color: #CCC;
}

input {
  display: none;
}

.radio-sources-list {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  align-items: flex-start;
}

.source-radio-button {
  margin: 0;
}

.radio-connect-pane, .logging-pane {
  text-align: center;
  padding: 20px 10px;
}

.radio-connect-pane button {
  margin: 5px;
}

.tuner-pane {
  text-align: center;
}

.frequency {
  margin: 0 10px;
  padding: 3px;
  background-color: #448;
  color: #AEF;
  display: inline-block;
  vertical-align: top;
  width: 9em;
  height: 2em;
  cursor: pointer;
}

.processingChain {
  padding: 20px 10px;
  text-align: center;
}

.processingChain > div:not(:last-child), .radio-connect-pane, .logging-pane {
  padding-bottom: 20px;
  border-bottom: 1px solid #666;
  margin-bottom: 20px;
}

.hidden {
  display: none;
}

::ng-deep .input_tabs .mat-mdc-tab-body-wrapper {
  display: block !important;
}

.indicator {
  border-radius: 3px;
  background: #CCC;
  color: #888;
  padding: 3px 4px;
}

.indicator[data-on="1"] {
  background: #8F8;
  color: #000;
}

.demodinfo {
  text-align: center;
}

table {
  margin: 0 auto;
}

table th {
  font-weight: normal;
}
