<mat-tab-group class="input_tabs">
  <mat-tab label="File playback">
    <div class="playback-speed-container">
      <mat-button-toggle-group #playbackSpeed name="playbackSpeed" [value]="prefPlaybackSpeed.value"
          (change)="setPlaybackSpeed($event)">
        <mat-button-toggle value="fast">Fast</mat-button-toggle>
        <mat-button-toggle value="realtime">Real time</mat-button-toggle>
      </mat-button-toggle-group>
      <div class="playback-speed-expander"></div>
      <button mat-stroked-button [disabled]="!sourceActive" (click)="stopSource()">
        Stop <mat-icon>stop_circle</mat-icon>
      </button>
    </div>
    <div
      class="dropzone"
      [class.dragging]="isDragging && !sourceActive"
      [class.disabled]="sourceActive"
      (click)="sourceActive ? '' : fileInput.click()"
      (drop)="sourceActive ? '' : onDrop($event)"
      (dragover)="sourceActive ? '' : onDragOver($event)">
        <ng-content *ngIf="sourceActive; else dropPrompt">
          Wait for current input to complete.
        </ng-content>
        <ng-template #dropPrompt>
          Drop file here or<br>click for selection dialog.
        </ng-template>
        <input #fileInput type="file" (change)="onFileSelect($event);">
    </div>
  </mat-tab>
  <mat-tab label="Radio source">
    <div class="radio-connect-pane">
      <mat-radio-group
        class="radio-sources-list"
        [(ngModel)]="selectedRadioSource">
        @for (s of radioSources; track s) {
          <mat-radio-button class="source-radio-button" [value]="s">{{s.name}}</mat-radio-button>
        }
      </mat-radio-group>
      <button mat-stroked-button [disabled]="sourceActive || selectedRadioSource == undefined" (click)="startSelectedRadioSource()">
        Start selected source <mat-icon>play_circle</mat-icon>
      </button>
      <button mat-stroked-button [disabled]="!sourceActive" (click)="stopSource()">
        Stop <mat-icon>stop_circle</mat-icon>
      </button>
    </div>

    <div class="tuner-pane">
      <button mat-icon-button (click)="seekDown()">
        <mat-icon>keyboard_double_arrow_left</mat-icon>
      </button>
      <button mat-icon-button (click)="tuneDown()">
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button>
      <span class="frequency">{{ frequency > 0 ? (frequency / 1000 | number:'1.2-2':'en-US') : "" }}</span>
      <button mat-icon-button (click)="tuneUp()">
        <mat-icon>keyboard_arrow_right</mat-icon>
      </button>
      <button mat-icon-button (click)="seekUp()">
        <mat-icon>keyboard_double_arrow_right</mat-icon>
      </button>
    </div>

    <div class="logging-pane">
      <button mat-stroked-button (click)="selectLogDir()">Select log directory</button>
    </div>
  </mat-tab>
</mat-tab-group>

<div class="processingChain">
  <div [class.hidden]="demodulator == null">
    <div>Constellation diagram</div>
    <app-constellation-diagram #constellationDiagram></app-constellation-diagram>
  </div>
  <table>
    <tr><th></th><th>Demod.</th><th>Bitstream</th><th>Block errors</th></tr>
      <tr *ngFor="let item of [].constructor(4); let i = index">
        <td>{{ i }}</td>
        <td><span class="indicator" [attr.data-on]="demodulator[i].locked ? 1 : 0">LOCK</span></td>
        <td><span class="indicator" [attr.data-on]="synchronizer[i].synced ? 1 : 0">SYNC</span></td>
        <td><app-bler-graph #blerGraph></app-bler-graph></td>
      </tr>
  </table>
</div>
