<mat-tab-group class="input_tabs">
  <mat-tab label="File playback">
    <div class="playback-speed-container">
      <mat-button-toggle-group #playbackSpeed name="playbackSpeed" [value]="prefPlaybackSpeed.value"
          (change)="setPlaybackSpeed($event)">
        <mat-button-toggle value="fast">Fast</mat-button-toggle>
        <mat-button-toggle value="realtime">Real time</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <div
      class="dropzone"
      [class.dragging]="isDragging && !inputActive"
      [class.disabled]="inputActive"
      (click)="inputActive ? '' : fileInput.click()"
      (drop)="inputActive ? '' : onDrop($event)"
      (dragover)="inputActive ? '' : onDragOver($event)">
        <ng-content *ngIf="inputActive; else dropPrompt">
          Wait for current input to complete.
        </ng-content>
        <ng-template #dropPrompt>
          Drop file here or<br>click for selection dialog.
        </ng-template>
        <input #fileInput type="file" (change)="onFileSelect($event);">
    </div>
  </mat-tab>
  <mat-tab label="USB dongle">
    <div class="usb-connect-pane">
      <button
        mat-stroked-button
        [disabled]="inputActive && !si470xActive"
        (click)="connectOrCloseSi470x()">
          {{ si470xActive ? "Disconnect" : "Connect" }} Si 470x
      </button>
    </div>

    <div class="tuner-pane">
      <button mat-icon-button (click)="seekDown()">
        <mat-icon>keyboard_double_arrow_left</mat-icon>
      </button>
      <button mat-icon-button (click)="tuneDown()">
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button>
      <span class="frequency">{{ frequency > 0 ? (frequency / 1000 | number:'1.1-1':'en-US') : "" }}</span>
      <button mat-icon-button (click)="tuneUp()">
        <mat-icon>keyboard_arrow_right</mat-icon>
      </button>
      <button mat-icon-button (click)="seekUp()">
        <mat-icon>keyboard_double_arrow_right</mat-icon>
      </button>
    </div>

    <div class="logging-pane">
      <button mat-stroked-button (click)="selectLogDir()">Select log directory</button>
    </div>
  </mat-tab>
</mat-tab-group>

<div class="processingChain">
  <div [class.hidden]="demodulator == null">
    <div>Constellation diagram</div>
    <canvas #constellationDiagram width="100" height="100">
      Constellation diagram.
    </canvas>
  </div>
  <div *ngIf="synchronizer != null">
    <div>Bit stream</div>
    <div>{{ synchronizer.synced ? "SYNCED" : "NOT SYNCED" }}</div>
  </div>
  <div>
    <div>Block errors</div>
    <canvas #blerGraph width="200" height="40">
      Block errors graph.
    </canvas>
  </div>
</div>
