<div class="station-options">
  <mat-button-toggle-group name="rdsVariant" value="rds"
      (change)="setRdsVariant($event)">
    <mat-button-toggle value="rds">RDS</mat-button-toggle>
    <mat-button-toggle value="rbds">RBDS</mat-button-toggle>
  </mat-button-toggle-group>
</div>


<div class="infogrid">
  <div class="infogrid-row">
    <div class="infogrid-cell">
      <div class="infogrid-title">PI</div>
      <div class="infogrid-value">{{ station.pi | hex:4 }} </div>
    </div>
    <div class="infogrid-cell" *ngIf="isRbds()">
      <div class="infogrid-title">Call sign</div>
      <div class="infogrid-value">{{ station.getCallsign() }} </div>
    </div>
    <div class="infogrid-cell">
      <div class="infogrid-title">PS</div>
      <div class="infogrid-value">{{ station.getPS() }} </div>
    </div>
    <div class="infogrid-cell">
      <div class="infogrid-title">Station name</div>
      <div class="infogrid-value">{{ station.getStationName() }} </div>
    </div>
    <div class="infogrid-cell">
      <div class="infogrid-title">Traffic info</div>
      <div class="infogrid-value">{{ getTrafficString() }} </div>
    </div>
  </div>

  <div class="infogrid-row">
    <div class="infogrid-cell infogrid-cell-limited">
      <div class="infogrid-title">Dynamic PS</div>
      <div class="infogrid-value">{{ station.getDynamicPSmessage() }} </div>
    </div>
    <div class="infogrid-cell">
      <div class="infogrid-title">Long PS</div>
      <div class="infogrid-value">{{ station.getLPS() }} </div>
    </div>
  </div>

  <div class="infogrid-row">
    <div class="infogrid-cell">
      <div class="infogrid-title">Time</div>
      <div class="infogrid-value">{{ station.datetime }} </div>
    </div>
    <div class="infogrid-cell">
      <div class="infogrid-title">PTY</div>
      <div class="infogrid-value">{{ getPtyString() }} </div>
    </div>
    <div class="infogrid-cell">
      <div class="infogrid-title">PTYN</div>
      <div class="infogrid-value">{{ station.getPTYN() }} </div>
    </div>
  </div>

  <div class="infogrid-row">
    <div class="infogrid-cell">
      <div class="infogrid-title">RT (current radiotext)</div>
      <div class="infogrid-value">{{ station.getRT() }} </div>
    </div>
  </div>

  <div class="infogrid-row">
    <div class="infogrid-cell">
      <div class="infogrid-title">Group statistics</div>
      <div class="infogrid-title">
        <table class="group-stats">
          <tr>
            <th></th>
            <th *ngFor="let i of group_ids">{{ i }}</th>
          </tr>
          <tr>
            <th>A</th>
            <td *ngFor="let i of group_ids">
              <div class="group-stats-number" [class.group-stats-any]="station.group_stats[i*2] > 0">
                {{ station.group_stats[i*2] }}
              </div>
            </td>
          </tr>
          <tr>
            <th>B</th>
            <td *ngFor="let i of group_ids">
              <div class="group-stats-number" [class.group-stats-any]="station.group_stats[i*2+1] > 0">
                {{ station.group_stats[i*2+1] }}
              </div>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>

<mat-tab-group>
  <mat-tab label="Base">
    Base
  </mat-tab>
  <mat-tab label="RT">
    <mat-list role="list">
      <mat-list-item role="listitem" *ngFor="let msg of station.rt.getPastMessages(true)">{{ msg }}</mat-list-item>
    </mat-list>    
  </mat-tab>
  <mat-tab label="EON">
    EON
  </mat-tab>
</mat-tab-group>
