<div class="station-options">
  <div class="app-icon">
    <img src="/icon_512.svg" width="75" height="75">
  </div>
  <div class="app-title-box">
    <div class="app-title">RDS Surveyor</div>
    <div class="app-about">
      <a href="" (click)="showAbout()">About</a> •
      <a href="https://github.com/ChristopheJacquet/RdsSurveyor2/issues/new" target="_new">Found bug? Report it!</a>
    </div>
  </div>

  <div class="top-controls">
    <mat-button-toggle-group name="rdsVariant" [value]="prefRdsVariant.value"
        (change)="setRdsVariant($event)">
      <mat-button-toggle value="rds">RDS</mat-button-toggle>
      <mat-button-toggle value="rbds">RBDS</mat-button-toggle>
    </mat-button-toggle-group>
  </div>
</div>


<div class="infogrid">
  <div class="infogrid-row">
    <div class="infogrid-cell">
      <div class="infogrid-title">PI</div>
      <div class="infogrid-value">{{ station.pi | hex:4 }} </div>
    </div>
    <div class="infogrid-cell" *ngIf="isRbds()">
      <div class="infogrid-title">Call letters</div>
      <div class="infogrid-value">{{ station.getCallsign() }} </div>
    </div>
    <div class="infogrid-cell">
      <div class="infogrid-title">PS</div>
      <div class="infogrid-value">{{ station.getPS() }} </div>
    </div>
    <div class="infogrid-cell">
      <div class="infogrid-title">Station name</div>
      <div class="infogrid-value">{{ station.getStationName() }} </div>
    </div>
    <div class="infogrid-cell">
      <div class="infogrid-title">Traffic info</div>
      <div class="infogrid-value">{{ getTrafficString(station) }} </div>
    </div>
  </div>

  <div class="infogrid-row">
    <div class="infogrid-cell infogrid-cell-limited">
      <div class="infogrid-title dynamic-ps-title">Dynamic PS</div>
      <div class="infogrid-value dynamic-ps-parent"><div class="dynamic-ps">{{ station.getDynamicPSmessage() }}</div> </div>
    </div>
    <div class="infogrid-cell">
      <div class="infogrid-title">Long PS</div>
      <div class="infogrid-value">{{ station.getLPS() }} </div>
    </div>
  </div>

  <div class="infogrid-row">
    <div class="infogrid-cell">
      <div class="infogrid-title">Time</div>
      <div class="infogrid-value">{{ station.datetime }} </div>
    </div>
    <div class="infogrid-cell">
      <div class="infogrid-title">PTY [{{ station.di_dynamic_pty == true ? "Dynamic" : "Static" }}]</div>
      <div class="infogrid-value">{{ getPtyString(station) }} </div>
    </div>
    <div class="infogrid-cell">
      <div class="infogrid-title">PTYN</div>
      <div class="infogrid-value">{{ station.getPTYN() }} </div>
    </div>
  </div>

  <div class="infogrid-row">
    <div class="infogrid-cell">
      <div class="infogrid-title">RT (current radiotext)
        {{ station.rt_flag != undefined ? (station.rt_flag ? "[A]" : "[B]") : "" }}
      </div>
      <div class="infogrid-value">{{ station.getRT() }} </div>
    </div>
  </div>

  <div class="infogrid-row">
    <div class="infogrid-cell">
      <div class="infogrid-title">Group statistics</div>
      <div class="infogrid-title">
        <table class="group-stats">
          <tr>
            <th></th>
            <th *ngFor="let i of group_ids">{{ i }}</th>
          </tr>
          <tr>
            <th>A</th>
            <td *ngFor="let i of group_ids">
              <div class="group-stats-number" [class.group-stats-any]="station.group_stats[i*2] > 0">
                {{ station.group_stats[i*2] }}
              </div>
            </td>
          </tr>
          <tr>
            <th>B</th>
            <td *ngFor="let i of group_ids">
              <div class="group-stats-number" [class.group-stats-any]="station.group_stats[i*2+1] > 0">
                {{ station.group_stats[i*2+1] }}
              </div>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>

<mat-tab-group class="bottom-tabs">
  <mat-tab label="Base">
    <div class="infogrid">
      <div class="infogrid-row">
        <div class="infogrid-cell">
          <div class="infogrid-title">Country</div>
          <div class="infogrid-value">{{ station.getCountryName() }} </div>
        </div>
        <div class="infogrid-cell">
          <div class="infogrid-title">Language</div>
          <div class="infogrid-value">{{ station.getLanguage() }} </div>
        </div>
        <div class="infogrid-cell">
          <div class="infogrid-title">PIN</div>
          <div class="infogrid-value">
            <span *ngIf="station.pin_day != undefined && station.pin_day && station.pin_hour != undefined && station.pin_minute != undefined">
              D={{ station.pin_day }}, {{ station.pin_hour | number: '2.0-0' }}:{{ station.pin_minute | number: '2.0-0'}}
            </span> 
          </div>
        </div>
        <div class="infogrid-cell">
          <div class="infogrid-title">Sound Information</div>
          <div class="infogrid-value infogrid-chips">
            <span *ngIf="station.music">Music</span>
            <span *ngIf="station.music == false">Speech</span>
            <span *ngIf="station.di_stereo">Stereo</span>
            <span *ngIf="station.di_compressed">Compressed</span>
            <span *ngIf="station.di_artificial_head">Artificial head</span>
            &nbsp;
          </div>
        </div>
      </div>
    </div>
    <div><!-- AFs -->
      <div *ngFor="let e of station.afLists | keyvalue">
        <strong>AF list, method {{ e.value.method }}:</strong>
        {{ e.value.transmitterFrequency/10 | number: '1.1-1' }} →
        <span *ngFor="let af of e.value.afs">{{ af/10 | number: '1.1-1' }}  </span>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="RT">
    <mat-list role="list">
      <mat-list-item role="listitem" class="rt-item" *ngFor="let msg of getRThistory()">
        <div>{{ msg.rt }}</div>
        <div *ngIf="msg.rtPlus != null" class="rtplus-tags">
          <span *ngFor="let tag of msg.rtPlus">{{ tag }}</span>
        </div>
      </mat-list-item>
    </mat-list>    
  </mat-tab>
  <mat-tab label="EON">
    <div>
      <table class="data-table">
        <tr><th>PI</th><th>PS</th><th>PTY</th><th>Traffic</th><th>Frequencies</th><th>PIN</th></tr>
        <tr *ngFor="let s of station.other_networks | keyvalue">
          <ng-container *ngIf="s.key != station.pi">
            <!-- The current station might have an EON entry for transmitting linkage information.
                 Do not display this. -->
            <td>{{ s.key | hex:4 }}</td>
            <td>{{ s.value.getPS() }}</td>
            <td>{{ getPtyString(s.value) }}</td>
            <td>{{ getTrafficString(s.value) }}</td>
            <td>
              <!-- AFs -->
              <span *ngFor="let e of s.value.afLists | keyvalue">
                List:
                {{ e.value.transmitterFrequency/10 | number: '1.1-1' }}
                <span *ngFor="let af of e.value.afs">{{ af/10 | number: '1.1-1' }}  </span>
              </span>
              <span *ngIf="s.value.mappedAFs.size > 0">
                Mapped:
                <span *ngFor="let m of s.value.mappedAFs | keyvalue">
                  [{{ m.key/10 | number: '1.1-1' }} → <ng-container
                   *ngFor="let af of m.value; let last=last">{{ af/10 | number: '1.1-1' }}<ng-container *ngIf="!last"> </ng-container></ng-container>]
                </span>
              </span>
            </td>
            <td>
              <span *ngIf="s.value.pin_day != undefined && s.value.pin_day != 0 && s.value.pin_hour != undefined && s.value.pin_minute != undefined">
                D={{ s.value.pin_day }}, {{ s.value.pin_hour | number: '2.0-0' }}:{{ s.value.pin_minute | number: '2.0-0'}}
              </span>
            </td>
          </ng-container>
        </tr>
      </table>
    </div>
  </mat-tab>
  <mat-tab label="Traffic">
    <div *ngFor="let e of station.trafficEvents">
      {{ e }}
    </div>
  </mat-tab>
  <mat-tab label="ODA">
    <table class="data-table">
      <tr><th>Group</th><th>AID</th><th>ODA name</th></tr>
      <tr *ngFor="let e of station.transmitted_odas | keyvalue">
        <td>{{ formatGroupType(e.key) }}</td>
        <td>{{ e.value | hex:4 }}</td>
        <td>{{ getOdaName(e.value) }}</td>
      </tr>
    </table>    
  </mat-tab>
  <mat-tab label="DAB cross-reference" *ngIf="station.dab_cross_ref_app.enabled">
    <table class="data-table">
      <tr><th>Mode</th><th>Frequency</th><th>EId</th></tr>
      <tr *ngFor="let e of station.dab_cross_ref_app.ensembleTable">
        <td>{{ e.mode }}</td>
        <td>{{ e.freqKhz }} kHz</td>
        <td>{{ e.eid | hex:4 }}</td>
      </tr>
    </table>
  </mat-tab>
  <mat-tab label="Group log">
    <div class="group-log">
      <div *ngFor="let m of station.log">
        {{ m.toString() }}
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
