<h2 mat-dialog-title>RDS Surveyor<br><small>version 2 beta</small></h2>

<mat-dialog-content class="mat-typography">

<p>
  Radio Data System decoder and analyzer.
</p>

<p>
  © Christophe Jacquet, 2001-2024.<br>
  © RDS Surveyor contributors, 2009-2024.
</p>

<p>
  For more information, see the
  <a href="https://rds-surveyor.jacquet.xyz" target="_new">project website</a>.
</p>

<p>
  This web application does not use tracking cookies or similar technology. It
  does store user preferences in the browser's local storage, but this data
  never leaves the browser, therefore it is not shared with anyone.
</p>

</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>OK</button>
</mat-dialog-actions>
